
{% extends "base.html" %}
{% block content %}
<h1>Sign Up</h1>


{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}



{% from "_render_field.html" import render_field %}

<form method="POST" action="{{url_for('register')}}">

 {{ form.csrf_token }}

 {{ render_field(form.email) }}

 {{render_field(form.username)}}

 {{render_field(form.password)}}

 {{render_field(form.confirm_password)}}

 {{render_field(form.submit)}}

</form>


{% endblock %}
 


