.page-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.page-header > * {
    display: block;
}

input {
    width: 300px;
    height: 30px;
    display: block;
}
form {
    display: block;
    margin: 0 auto;
    width: 300px;
}
.user_acc {
    display: flex;
}
.user-acc-wrapper {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}

.update-form {
    margin-left: 0;
}

.forms {
    display: flex;
}

.post-form {
    margin-left: 0;
}

.post-form textarea {
    width: 700px;
    height: 300px;
}

.post-form input[type=text] {
    width: 700px;
}

.post {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    margin-bottom: 20px;
}
.form-block {
    margin: 0;
    width: 200px;
    float: right;
    margin-top: 7px;
}
/* .search-button {
    display: block;
    margin: 0;
    width: 20px;
    float: right;
    margin-top: 7px;
} */