{% extends "base.html" %}

{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
  <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}



<html>
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: green;
  }
</style>
{% endblock %}

{% block content %}

{% for post in posts %}
<div class="post">
  <h2><a href="{{ url_for('post', post_id=post.id) }}">{{post.title}}</a></h2>
  <p>{{ post.content | truncate(50) }}</p>
</div>
{% endfor %}

{% endblock %}